Source: openmediavault-backup
Section: misc
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-backup
Architecture: all
Depends: openmediavault (>= 3.0), rsync, testdisk, extundelete,
 openmediavault-usbbackup
Description: backup plugin for OpenMediaVault.
 This plugin will backup the entire OpenMediaVault
 system minus data drives for restoration in emergency
 situations.
 .
 Install and boot from Clonezilla for backup/restore purposes.
 .
 Install and boot from SystemRescueCD for utility purposes.
 .
 Install and boot from GParted Live for utility purposes.
 .
 Install from shared folder and boot from Parted Magic for utility purposes.
 .
 Recovery accidentally deleted files using Photorec and/or Extundelete.
