Source: openmediavault-backup
Section: misc
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-backup
Architecture: all
Depends: fsarchiver,
         openmediavault (>=4.1.5),
         borgbackup,
         rsync
Description: backup plugin for OpenMediaVault.
 This plugin will backup the entire OpenMediaVault
 system minus data drives or system drive for
 restoration in emergency situations.
