Source: openmediavault-backup
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-backup
Architecture: all
Depends: openmediavault (>= 0.5.46), rsync, testdisk
Description: backup plugin for OpenMediaVault.
 This plugin will backup the entire OpenMediaVault
 system minus data drives for restoration in emergency
 situations.
